.example-card {
  width: 650px;
  margin: 15px auto;
  font-size: 20px;
}
.center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

app-user-list{
  margin: 30px;
}
/* Override background color of mat-tab-group */
mat-tab-group {
  background-color: #f0f0f0; /* Change to your desired background color */
}

/* Override background color of mat-tab-label */
mat-tab-group mat-tab-label {
  background-color: #c0c0c0; /* Change to your desired background color */
}

app-robot-motion {
  width: 100%; /* Adjust width as needed */
}

