<div class="toolbar" role="banner">
  <a routerLink="/" routerLinkActive="active">
    <img
      width="100"
      alt="Angular Logo"
      src="assets/images/logo_fei.svg"
      (click)="reloadPage()"
    />
  </a>
  <div class="spacer"></div>
  <div *ngIf="sessionStorage.getItem('username') != null" class="toolbar-container">
    <h1>
      Hello {{ name }} {{ surname }}
    </h1>
    <form class="example-form center-form"  (ngSubmit)="proceedLogout()">
      <div>
        <button mat-raised-button color="primary" id="logoutBtn">Logout</button>
      </div>
    </form>
  </div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>


